.App {
   display: grid;
   grid-column-gap: 50px;
   grid-template-columns: auto auto auto;
   margin-top: 100px;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

.App-link {
   color: #61dafb;
}

.rotate {
   display: flex;
   align-items: center;
   justify-content: center;
}
